[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plantphysioR"]
	path = plantphysioR
	url = https://github.com/rameshram96/plantphysior
